<article class="doc">
{{#if (eq page.layout '404')}}
<h1 class="page">{{{or page.title 'Page Not Found'}}}</h1>
<div class="paragraph">
<p>Die Seite, nach der Du suchst, existiert nicht. Vielleicht wurde sie verschoben.</p>
</div>
<div class="paragraph">
    <p>Wenn Du durch Anklicken eines Links auf diese Seite gelangt bist,
     informiere bitte den Eigentümer der verweisenden Seite darüber, dass der Link ungültig ist.
     </p>
    <p>Wenn Du die Adresse manuell eingegeben hast, überprüfe bitte, ob die Eingabe korrekt war.</p>
</div>
{{else}}
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
{{{page.contents}}}
{{/if}}
{{> pagination}}
</article>
