<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
       <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">
	   <img border="0" alt="KVK" src="{{{uiRootPath}}}/img/Wimpel.png" width="60" height="45">
	   {{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">KVK</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" target="_blank" rel="noopener noreferrer" href="http://www.kv-kiel.de/">Kanu-Vereinigung Kiel - Homepage</a>
            <hr>
            <a class="navbar-item" target="_blank" rel="noopener noreferrer" href="https://kv-kiel.gitlab.io/kvk-handbuch/">KVK-Handbuch</a>
            <a class="navbar-item" target="_blank" rel="noopener noreferrer" href="https://kv-kiel.gitlab.io/kvk-doku-center/">KVK-Doku Center</a>
            <hr>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://balticpaddler.blogspot.com/">BalticPaddler</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
